# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.env

# Database
*.db
*.db-journal

# Logs
logs/*.log

# OS junk
.DS_Store
Thumbs.db
updater_config.env

0~updater_config.env
backup/
current/.version
current/logs/
venv/
