[Unit]
Description=Edge Gateway Framework Flask Service
After=network.target

[Service]
Type=simple
User=dalton
WorkingDirectory=/home/dalton/Senzr/edge-gateway-framework
ExecStart=/home/dalton/Senzr/edge-gateway-framework/venv/bin/python -m backend.app
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target